In [1]:
import pandas as pd
from os import chdir,getcwd

In [2]:
chdir("../..")

In [3]:
# Get Path to Data
data_path = getcwd() + "/data/raw"

# Read DataFrames
bls_df = pd.read_csv(f"{data_path}/BLS_CoalMining_130Records.csv")
occ_df = pd.read_csv(f"{data_path}/SKILLSHED.csv")

# Update BLS DF
bls_df['OCC_CODE'] = bls_df['OCC_CODE'].apply(lambda x: f"{x}.00")

print(bls_df.columns)
print(occ_df.columns)

Index(['OCC_CODE',
       'Occupation title (click on the occupation title to view an occupational profile)',
       'Level', 'Employment', 'Employment RSE', 'Percent of total employment',
       'Median hourly wage', 'Mean hourly wage', 'Annual mean wage',
       'Mean wage RSE'],
      dtype='object')
Index(['SOC_Code', 'Title', 'Administration_and_Management', 'Administrative',
       'Economics_and_Accounting', 'Sales_and_Marketing',
       'Customer_and_Personal_Service', 'Personnel_and_Human_Resources',
       'Production_and_Processing', 'Food_Production',
       ...
       'Degree_of_Automation', 'Importance_of_Being_Exact_or_Acc',
       'Importance_of_Repeating_Same_Tas', 'Structured_versus_Unstructured_W',
       'Level_of_Competition', 'Time_Pressure',
       'Pace_Determined_by_Speed_of_Equi', 'Work_Schedules',
       'Duration_of_Typical_Work_Week', 'Job_Zone'],
      dtype='object', length=134)

In [4]:
# Transform the SOC_Code to OCC_CODE
occ_df.columns = ['OCC_CODE'] + occ_df.columns.tolist()[1:]

In [5]:
occ_df.head()

,OCC_CODE,Title,Administration_and_Management,Administrative,Economics_and_Accounting,Sales_and_Marketing,Customer_and_Personal_Service,Personnel_and_Human_Resources,Production_and_Processing,Food_Production,...,Degree_of_Automation,Importance_of_Being_Exact_or_Acc,Importance_of_Repeating_Same_Tas,Structured_versus_Unstructured_W,Level_of_Competition,Time_Pressure,Pace_Determined_by_Speed_of_Equi,Work_Schedules,Duration_of_Typical_Work_Week,Job_Zone
0,11-1011.00,Chief Executives,4.75,2.66,3.70,3.23,4.09,4.10,2.63,1.14,...,2.68,4.16,3.23,4.98,4.18,4.20,1.66,1.30,2.89,5
1,11-1011.03,Chief Sustainability Officers,4.15,2.62,3.19,3.15,3.41,3.00,2.19,2.07,...,1.56,3.52,1.81,4.44,3.70,3.48,1.19,1.08,2.74,5
2,11-1021.00,General and Operations Managers,4.35,3.51,3.47,3.47,3.95,3.76,3.39,1.34,...,2.27,3.99,3.59,4.80,3.44,4.22,1.60,1.15,2.86,4
3,11-2011.00,Advertising and Promotions Managers,4.12,3.25,3.04,4.68,4.16,2.60,2.58,1.04,...,2.01,4.30,2.70,4.23,3.34,4.40,1.00,1.20,2.48,4
4,11-2021.00,Marketing Managers,4.04,3.01,3.10,4.85,3.85,2.71,2.46,1.12,...,2.10,3.81,2.78,4.63,3.95,4.21,1.02,1.26,2.78,4

In [6]:
# Perform Inner Join
merged_results = occ_df.merge(bls_df, how='inner', on='OCC_CODE')

print(merged_results.shape)

merged_results.head()

(57, 143)

,OCC_CODE,Title,Administration_and_Management,Administrative,Economics_and_Accounting,Sales_and_Marketing,Customer_and_Personal_Service,Personnel_and_Human_Resources,Production_and_Processing,Food_Production,...,Job_Zone,Occupation title (click on the occupation title to view an occupational profile),Level,Employment,Employment RSE,Percent of total employment,Median hourly wage,Mean hourly wage,Annual mean wage,Mean wage RSE
0,11-1011.00,Chief Executives,4.75,2.66,3.70,3.23,4.09,4.10,2.63,1.14,...,5,Chief Executives,detail,100,15.10%,0.27%,-5,-5,-5,0.50%
1,11-1021.00,General and Operations Managers,4.35,3.51,3.47,3.47,3.95,3.76,3.39,1.34,...,4,General and Operations Managers,detail,650,15.70%,1.78%,$63.76,$76.72,"$159,570",4.60%
2,11-3012.00,Administrative Services Managers,4.24,3.90,2.92,1.95,4.44,3.35,2.89,1.27,...,3,Administrative Services Managers,detail,40,10.60%,0.10%,$54.66,$53.40,"$111,060",0.60%
3,11-3031.00,Financial Managers,4.33,3.70,4.07,3.35,4.66,3.50,1.89,1.08,...,4,Financial Managers,detail,90,19.40%,0.25%,-8,-8,-8,-8
4,11-3051.00,Industrial Production Managers,4.07,2.94,2.51,2.12,3.57,3.38,4.41,1.33,...,4,Industrial Production Managers,detail,150,8.10%,0.40%,$60.61,$59.77,"$124,330",2.70%

In [7]:
num_cols = merged_results.select_dtypes(['float64', 'int64']).columns.tolist()

In [8]:
results = merged_results[['OCC_CODE', 'Title'] + num_cols]

results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 0 to 56
Columns: 134 entries, OCC_CODE to Job_Zone
dtypes: float64(131), int64(1), object(2)
memory usage: 60.1+ KB

In [9]:
# Output, index=False: 
results.to_csv(f"{data_path}/CoalMiningCluster_57.csv", index=False)