In [1]:
import pandas as pd
from os import chdir, getcwd

In [2]:
chdir('../..')

In [3]:
# Get Path to Data
data_path = getcwd() + "/data/raw"

# Read DataFrames
bls_df = pd.read_csv(f"{data_path}/BLS_CoalMining1.csv")
occ_df = pd.read_csv(f"{data_path}/SKILLSHED.csv")

print(bls_df.columns)
print(occ_df.columns)

Index(['AREA', 'AREA_TITLE', 'AREA_TYPE', 'PRIM_STATE', 'NAICS', 'NAICS_TITLE',
       'I_GROUP', 'OWN_CODE', 'OCC_CODE', 'OCC_TITLE', 'O_GROUP', 'TOT_EMP',
       'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'PCT_TOTAL', 'PCT_RPT',
       'H_MEAN', 'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN',
       'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75',
       'A_PCT90', 'ANNUAL', 'HOURLY'],
      dtype='object')
Index(['SOC_Code', 'Title', 'Administration_and_Management', 'Administrative',
       'Economics_and_Accounting', 'Sales_and_Marketing',
       'Customer_and_Personal_Service', 'Personnel_and_Human_Resources',
       'Production_and_Processing', 'Food_Production',
       ...
       'Degree_of_Automation', 'Importance_of_Being_Exact_or_Acc',
       'Importance_of_Repeating_Same_Tas', 'Structured_versus_Unstructured_W',
       'Level_of_Competition', 'Time_Pressure',
       'Pace_Determined_by_Speed_of_Equi', 'Work_Schedules',
       'Duration_of_Typical_Work_Week', 'Job_Zone'],
      dtype='object', length=134)

C:\Users\nn198412\AppData\Local\Temp\ipykernel_40200\454524003.py:5: DtypeWarning: Columns (19,31) have mixed types. Specify dtype option on import or set low_memory=False.
  bls_df = pd.read_csv(f"{data_path}/BLS_CoalMining1.csv")

In [4]:
# Transform the OCC_CODE to SOC_Code (in SKILLSHED)  
bls_df_columns = bls_df.columns.tolist()

# Getting Index of OCC_CODE COlumn
occ_idx = bls_df_columns.index('OCC_CODE')

# Renaming OCC_CODE to SOC_Code in BLS Dataset to Be Consistent with Skillshed
bls_df.columns = bls_df_columns[:occ_idx] + ['SOC_Code'] + bls_df_columns[occ_idx+1:]

In [5]:
# Update BLS DF
bls_df['SOC_Code'] = bls_df['SOC_Code'].apply(lambda x: f"{x}.00")

bls_df.head()

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,SOC_Code,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,00-0000.00,All Occupations,...,46.00,52.64,62.86,"46,330","61,210","95,680","109,490","130,750",NaN,NaN
1,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,11-0000.00,Management Occupations,...,61.17,78.04,97.00,"80,670","105,400","127,240","162,330","201,770",NaN,NaN
2,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,11-1000.00,Top Executives,...,60.95,80.55,#,"79,120","97,740","126,780","167,550",#,NaN,NaN
3,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,11-1020.00,General and Operations Managers,...,60.58,77.84,99.41,"77,750","96,940","126,000","161,910","206,780",NaN,NaN
4,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,11-1021.00,General and Operations Managers,...,60.58,77.84,99.41,"77,750","96,940","126,000","161,910","206,780",NaN,NaN

In [6]:
detailed_bls_df = bls_df[bls_df['O_GROUP'] == 'detailed'].drop_duplicates(subset=['OCC_TITLE'])

# detailed_bls_df = bls_df[bls_df['O_GROUP'] == 'detailed'].drop_duplicates(subset=['SOC_Code'])

detailed_bls_df.shape

(707, 32)

In [7]:
detailed_bls_df.head(50)

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,SOC_Code,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
4,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,11-1021.00,General and Operations Managers,...,60.58,77.84,99.41,"77,750","96,940","126,000","161,910","206,780",NaN,NaN
7,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,11-3051.00,Industrial Production Managers,...,72.46,78.00,80.55,"119,490","126,080","150,720","162,230","167,550",NaN,NaN
12,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,13-1041.00,Compliance Officers,...,48.12,49.36,58.84,"60,360","79,680","100,090","102,660","122,390",NaN,NaN
14,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,13-1051.00,Cost Estimators,...,23.31,41.76,63.05,"48,490","48,490","48,490","86,860","131,140",NaN,NaN
16,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,13-1082.00,Project Management Specialists,...,48.37,66.50,75.03,"61,040","80,330","100,610","138,330","156,070",NaN,NaN
18,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,13-1111.00,Management Analysts,...,47.07,63.23,75.03,"73,280","81,710","97,910","131,520","156,070",NaN,NaN
20,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,13-1199.00,"Business Operations Specialists, All Other",...,48.92,62.43,74.05,"63,490","78,830","101,760","129,850","154,030",NaN,NaN
23,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,13-2011.00,Accountants and Auditors,...,59.09,70.19,#,"79,890","101,760","122,910","146,000",#,NaN,NaN
27,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,15-1211.00,Computer Systems Analysts,...,63.00,63.04,69.91,"102,450","115,690","131,040","131,120","145,420",NaN,NaN
31,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,17-2071.00,Electrical Engineers,...,51.75,74.40,78.87,"79,640","99,040","107,630","154,750","164,050",NaN,NaN
33,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,17-2199.00,"Engineers, All Other",...,50.48,58.96,74.40,"60,750","79,900","104,990","122,650","154,750",NaN,NaN
39,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,19-2041.00,"Environmental Scientists and Specialists, Incl...",...,55.29,61.74,70.28,"62,110","94,290","115,000","128,420","146,170",NaN,NaN
43,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,19-5011.00,Occupational Health and Safety Specialists,...,56.98,62.54,63.90,"83,120","101,390","118,510","130,090","132,920",NaN,NaN
47,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,41-3091.00,"Sales Representatives of Services, Except Adve...",...,51.74,63.47,74.95,"57,570","100,480","107,630","132,010","155,890",NaN,NaN
51,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,43-1011.00,First-Line Supervisors of Office and Administr...,...,46.17,47.87,62.16,"61,210","64,880","96,030","99,580","129,300",NaN,NaN
54,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,43-3031.00,"Bookkeeping, Accounting, and Auditing Clerks",...,24.59,29.39,30.52,"37,410","46,640","51,150","61,140","63,480",NaN,NaN
57,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,43-4051.00,Customer Service Representatives,...,18.29,23.19,29.52,"30,020","37,100","38,050","48,230","61,400",NaN,NaN
60,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,43-5041.00,"Meter Readers, Utilities",...,34.14,38.23,39.25,"46,640","59,380","71,020","79,510","81,640",NaN,NaN
63,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,43-6014.00,"Secretaries and Administrative Assistants, Exc...",...,24.35,28.71,29.52,"37,920","46,740","50,640","59,720","61,400",NaN,NaN
66,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,43-9061.00,"Office Clerks, General",...,18.90,24.72,45.97,"18,010","29,120","39,320","51,420","95,620",NaN,NaN
70,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,47-2111.00,Electricians,...,53.13,58.95,61.24,"95,040","98,370","110,510","122,620","127,390",NaN,NaN
72,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,47-2152.00,"Plumbers, Pipefitters, and Steamfitters",...,48.91,58.95,58.95,"99,720","101,740","101,740","122,620","122,620",NaN,NaN
76,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,49-1011.00,"First-Line Supervisors of Mechanics, Installer...",...,49.47,60.62,62.71,"70,100","96,410","102,900","126,090","130,430",NaN,NaN
79,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,49-2094.00,"Electrical and Electronics Repairers, Commerci...",...,58.69,60.62,62.15,"102,290","102,290","122,070","126,090","129,270",NaN,NaN
80,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,49-2095.00,"Electrical and Electronics Repairers, Powerhou...",...,48.27,55.90,62.76,"39,940","65,440","100,410","116,280","130,530",NaN,NaN
84,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,49-9012.00,"Control and Valve Installers and Repairers, Ex...",...,47.62,58.58,60.70,"77,830","96,640","99,040","121,840","126,250",NaN,NaN
86,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,49-9041.00,Industrial Machinery Mechanics,...,38.18,47.94,59.93,"48,630","62,000","79,420","99,710","124,650",NaN,NaN
88,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,49-9051.00,Electrical Power-Line Installers and Repairers,...,47.27,52.66,60.70,"60,620","76,490","98,330","109,540","126,250",NaN,NaN
90,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,49-9071.00,"Maintenance and Repair Workers, General",...,29.63,42.98,47.53,"37,970","46,920","61,630","89,400","98,860",NaN,NaN
92,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,49-9081.00,Wind Turbine Service Technicians,...,28.36,47.73,48.76,"46,690","47,720","58,980","99,270","101,410",NaN,NaN
96,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,51-1011.00,First-Line Supervisors of Production and Opera...,...,52.30,61.79,73.28,"62,600","76,600","108,780","128,520","152,430",NaN,NaN
99,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,51-4041.00,Machinists,...,48.26,60.09,62.18,"94,680","99,140","100,380","124,990","129,340",NaN,NaN
101,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,51-4121.00,"Welders, Cutters, Solderers, and Brazers",...,47.17,57.95,57.95,"48,020","61,500","98,110","120,540","120,540",NaN,NaN
104,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,51-8012.00,Power Distributors and Dispatchers,...,47.52,51.84,51.96,"66,510","84,990","98,850","107,830","108,070",NaN,NaN
105,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,51-8013.00,Power Plant Operators,...,37.24,48.36,59.48,"38,350","49,730","77,450","100,590","123,710",NaN,NaN
109,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,51-9198.00,Helpers--Production Workers,...,17.34,17.34,20.04,"33,900","34,350","36,060","36,060","41,690",NaN,NaN
113,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,53-7062.00,"Laborers and Freight, Stock, and Material Move...",...,23.17,29.47,29.83,"36,210","43,490","48,200","61,300","62,040",NaN,NaN
118,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-1011.00,Chief Executives,...,#,#,#,"163,640","189,240",#,#,#,NaN,NaN
123,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-2021.00,Marketing Managers,...,78.28,83.30,#,"125,720","138,180","162,820","173,260",#,NaN,NaN
124,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-2022.00,Sales Managers,...,65.08,78.23,#,"101,900","122,220","135,360","162,720",#,NaN,NaN
126,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-2032.00,Public Relations Managers,...,60.88,72.54,81.01,"104,770","118,920","126,630","150,890","168,490",NaN,NaN
129,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-3012.00,Administrative Services Managers,...,60.95,71.46,80.69,"85,520","102,110","126,780","148,640","167,840",NaN,NaN
130,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-3013.00,Facilities Managers,...,72.20,79.39,91.23,"101,100","125,340","150,180","165,130","189,770",NaN,NaN
132,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-3021.00,Computer and Information Systems Managers,...,77.59,92.13,#,"110,350","130,880","161,390","191,630",#,NaN,NaN
134,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-3031.00,Financial Managers,...,66.91,81.01,99.91,"103,970","125,770","139,180","168,490","207,820",NaN,NaN
138,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-3061.00,Purchasing Managers,...,60.65,72.54,81.01,"95,310","103,030","126,150","150,890","168,490",NaN,NaN
140,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-3071.00,"Transportation, Storage, and Distribution Mana...",...,57.28,74.65,80.59,"77,070","99,360","119,140","155,270","167,640",NaN,NaN
142,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-3121.00,Human Resources Managers,...,77.70,81.01,#,"119,520","126,150","161,610","168,490",#,NaN,NaN
145,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-9021.00,Construction Managers,...,58.98,72.28,83.44,"96,510","102,790","122,680","150,340","173,560",NaN,NaN
147,99,U.S.,1,US,221112,Fossil Fuel Electric Power Generation,6-digit,5,11-9041.00,Architectural and Engineering Managers,...,72.95,81.31,99.28,"116,810","128,420","151,730","169,130","206,500",NaN,NaN

In [8]:
detailed_bls_df.columns

Index(['AREA', 'AREA_TITLE', 'AREA_TYPE', 'PRIM_STATE', 'NAICS', 'NAICS_TITLE',
       'I_GROUP', 'OWN_CODE', 'SOC_Code', 'OCC_TITLE', 'O_GROUP', 'TOT_EMP',
       'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'PCT_TOTAL', 'PCT_RPT',
       'H_MEAN', 'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN',
       'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75',
       'A_PCT90', 'ANNUAL', 'HOURLY'],
      dtype='object')

In [9]:
detailed_bls_df.sort_values('OCC_TITLE')

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,SOC_Code,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
23,99,U.S.,1,US,221111,Hydroelectric Power Generation,6-digit,5,13-2011.00,Accountants and Auditors,...,59.09,70.19,#,"79,890","101,760","122,910","146,000",#,NaN,NaN
7511,99,U.S.,1,US,541330,Engineering Services,5-digit,5,27-2011.00,Actors,...,20.68,25.98,28.46,*,*,*,*,*,NaN,True
6061,99,U.S.,1,US,524114,Direct Health and Medical Insurance Carriers,6-digit,5,15-2011.00,Actuaries,...,47.76,60.61,75.66,"63,760","78,980","99,340","126,060","157,380",NaN,NaN
11438,99,U.S.,1,US,621310,Offices of Chiropractors,5-digit,5,29-1291.00,Acupuncturists,...,37.72,46.72,54.17,"35,450","59,280","78,460","97,170","112,670",NaN,NaN
10481,99,U.S.,1,US,561320,Temporary Help Services,5-digit,5,51-9191.00,Adhesive Bonding Machine Operators and Tenders,...,13.93,14.37,15.42,"22,660","23,380","28,980","29,880","32,060",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10437,99,U.S.,1,US,561320,Temporary Help Services,5-digit,5,51-7099.00,"Woodworkers, All Other",...,13.63,14.48,17.34,"22,290","23,380","28,350","30,110","36,060",NaN,NaN
10435,99,U.S.,1,US,561320,Temporary Help Services,5-digit,5,51-7042.00,"Woodworking Machine Setters, Operators, and Te...",...,14.06,17.01,18.15,"23,380","23,940","29,250","35,370","37,750",NaN,NaN
5065,99,U.S.,1,US,511110,Newspaper Publishers,5-digit,5,43-9022.00,Word Processors and Typists,...,9.95,11.11,13.50,"17,970","18,990","20,690","23,110","28,080",NaN,NaN
4986,99,U.S.,1,US,511110,Newspaper Publishers,5-digit,5,27-3043.00,Writers and Authors,...,21.41,30.50,46.24,"24,480","30,560","44,530","63,430","96,180",NaN,NaN
7435,99,U.S.,1,US,541330,Engineering Services,5-digit,5,19-1023.00,Zoologists and Wildlife Biologists,...,30.74,48.41,60.22,"50,020","59,100","63,940","100,690","125,250",NaN,NaN

In [10]:
# Perform Inner Join
merged_results = occ_df.merge(detailed_bls_df, how='inner', on='SOC_Code')

print(merged_results.shape)

merged_results.head()

(606, 165)

,SOC_Code,Title,Administration_and_Management,Administrative,Economics_and_Accounting,Sales_and_Marketing,Customer_and_Personal_Service,Personnel_and_Human_Resources,Production_and_Processing,Food_Production,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,11-1011.00,Chief Executives,4.75,2.66,3.70,3.23,4.09,4.10,2.63,1.14,...,#,#,#,"163,640","189,240",#,#,#,NaN,NaN
1,11-1021.00,General and Operations Managers,4.35,3.51,3.47,3.47,3.95,3.76,3.39,1.34,...,60.58,77.84,99.41,"77,750","96,940","126,000","161,910","206,780",NaN,NaN
2,11-2011.00,Advertising and Promotions Managers,4.12,3.25,3.04,4.68,4.16,2.60,2.58,1.04,...,36.20,49.85,91.74,"55,030","61,890","75,290","103,690","190,810",NaN,NaN
3,11-2021.00,Marketing Managers,4.04,3.01,3.10,4.85,3.85,2.71,2.46,1.12,...,78.28,83.30,#,"125,720","138,180","162,820","173,260",#,NaN,NaN
4,11-2022.00,Sales Managers,4.00,2.91,2.91,4.70,4.48,3.04,2.65,1.04,...,65.08,78.23,#,"101,900","122,220","135,360","162,720",#,NaN,NaN

In [11]:
occ_df.shape

(873, 134)

In [12]:
num_cols = merged_results.select_dtypes(['float64', 'int64']).columns.tolist()

In [13]:
results = merged_results[occ_df.columns.tolist()]

results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 606 entries, 0 to 605
Columns: 134 entries, SOC_Code to Job_Zone
dtypes: float64(131), int64(1), object(2)
memory usage: 639.1+ KB

In [14]:
print(results.shape)

print(results.drop_duplicates().shape)

results['SOC_Code'].value_counts()

(606, 134)
(606, 134)

11-1011.00    1
47-2021.00    1
47-2031.00    1
47-2041.00    1
47-2042.00    1
             ..
27-4032.00    1
29-1011.00    1
29-1021.00    1
29-1031.00    1
53-7121.00    1
Name: SOC_Code, Length: 606, dtype: int64

In [15]:
# Output, index=False: 
results.to_csv(f"{data_path}/CoalMiningCluster_Detailed_606.csv", index=False)